<div class="header">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a44778ea-3457-40e0-8979-b7e3685d23d0/dekiqwv-be5d6933-0cc6-40e1-9b67-60b3affb002b.png/v1/fill/w_1192,h_670,strp/jujutsu_kaisen_hd_png_by_newjer53_dekiqwv-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvYTQ0Nzc4ZWEtMzQ1Ny00MGUwLTg5NzktYjdlMzY4NWQyM2QwXC9kZWtpcXd2LWJlNWQ2OTMzLTBjYzYtNDBlMS05YjY3LTYwYjNhZmZiMDAyYi5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.p3H6A19SEoARZ8wcMp064W1V11u0J5R0EFcPQ4VwW-8"
        class="img-fluid">
</div>

<form  [formGroup]="editarForm" (ngSubmit)="postForm()" >
    <div class="form-group col-12">
        <label for="exampleFormControlInput1">Id</label>
        <input type="text" class="form-control" placeholder="Id" formControlName="_id" readonly>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <label for="exampleFormControlInput1">Nombre</label>
            <input type="text" class="form-control" placeholder="Escriba el nombre" formControlName="nombre"
            value="15"
            >
        </div>
    
        <div class="form-group col-6">
            <label for="exampleFormControlInput1">Kanji</label>
            <input type="text" class="form-control" placeholder="Escriba el Kanji" formControlName="kanji">
        </div>
        <div class="form-group col-6">
            <label for="exampleFormControlInput1">Higarana</label>
            <input type="text" class="form-control" placeholder="Escriba el higarana" formControlName="hiragana">
        </div>
    
        <div class="form-group col-6">
            <label for="exampleFormControlInput1">Romaji</label>
            <input type="text" class="form-control" placeholder="Escriba el Romaji" formControlName="romaji">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-2">
            <label for="exampleFormControlInput1">Especie</label>
            <input type="text" class="form-control" placeholder="Escriba la especie" formControlName="especie">
        </div>
    
        <div class="form-group col-2">
            <label for="exampleFormControlInput1">Genero</label>
            <input type="text" class="form-control" placeholder="Escriba el genero" formControlName="genero">
        </div>
    
        <div class="form-group col-2">
            <label for="exampleFormControlInput1">Edad</label>
            <input type="text" class="form-control" placeholder="Escriba la edad" formControlName="edad">
        </div>

        <div class="form-group col-6">
            <label for="exampleFormControlInput1">Grado</label>
            <input type="text" class="form-control" placeholder="Escriba el grado" formControlName="grado">
        </div>
    
        <div class="form-group col-6">
            <label for="exampleFormControlInput1">Afiliacion</label>
            <input type="text" class="form-control" placeholder="Escriba la afiliacion" formControlName="afiliacion">
        </div>
    
        <div class="form-group col-6">
            <label for="exampleFormControlInput1">Ocupacion</label>
            <input type="text" class="form-control" placeholder="Escriba las ocupaciones, separadas de comas" formControlName="ocupacion">
        </div>
    
    </div>

    <div class="row">
        <div class="form-group col-6">
            <label for="exampleFormControlInput1">Descripcion</label>
            <input type="text" class="form-control" placeholder="Escriba una descripcion del personaje" formControlName="descripcion">
        </div>
    
        <div class="form-group col-6 mb-3">
            <label for="exampleFormControlInput1">Imagen</label>
            <input type="text" class="form-control" placeholder="Inserte el enlace de una imagen(png)" formControlName="imagen">
        </div>
    </div>

    <div class="row gap-2 justify-content-md-end">
        <div class="col-1 mb-3">
            <button
                type="submit"
                class="btn btn-outline-warning"
                [routerLink]="['/miapi/list']" routerLinkActive="router-link-active"
                
            >
                Actualizar
            </button>
        </div>
        <div class="col-1 mb-3">
            <button
                type="button"
                class="btn btn-danger"
                [routerLink]="['/miapi/list']" routerLinkActive="router-link-active" 
            >
                Cancelar
            </button>
        </div>
        <div class="col-1 mb-3">
            <button
                type="button"
                class="btn btn-outline-danger"
                (click)="deleteForm()"
                [routerLink]="['/miapi/list']" routerLinkActive="router-link-active" 
            >
                Eliminar
            </button>
        </div>
    </div>


</form>
