<div class="header">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a44778ea-3457-40e0-8979-b7e3685d23d0/dekiqwv-be5d6933-0cc6-40e1-9b67-60b3affb002b.png/v1/fill/w_1192,h_670,strp/jujutsu_kaisen_hd_png_by_newjer53_dekiqwv-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvYTQ0Nzc4ZWEtMzQ1Ny00MGUwLTg5NzktYjdlMzY4NWQyM2QwXC9kZWtpcXd2LWJlNWQ2OTMzLTBjYzYtNDBlMS05YjY3LTYwYjNhZmZiMDAyYi5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.p3H6A19SEoARZ8wcMp064W1V11u0J5R0EFcPQ4VwW-8"
        class="img-fluid">
</div>

<div class="container-fluid">
    <div class="row row-cols-4">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<div class="botones">
    <div class="row gap-2 justify-content-md-start">
        <div class="col-1">
            <button
                type="button"
                class="btn btn-success"
                [routerLink]="['/miapi/new']" routerLinkActive="router-link-active" 
            >
                Nuevo
            </button>
        </div>
    </div>
</div>